<div class="col-10">
    <%= render 'shared/errors', obj: @taxpayer %>
</div>


<%= form_with(model: @taxpayer, local: true ) do |f| %>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'IRD Number' %>
            <%= f.text_field :ird_no,  style: 'display: block;'%>
            </p>
        </div>
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Old IRD Number' %>
            <%= f.text_field :old_ird_no,  style: 'display: block;' %>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'First Name' %>
            <%= f.text_field :first_name,  style: 'display: block;' %>
            </p>
        </div>
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Middle Name' %>
            <%= f.text_field :middle_name,  style: 'display: block;' %>
            </p>
        </div>
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Last Name' %>
            <%= f.text_field :last_name,  style: 'display: block;' %>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Address' %>
            <%= f.text_field :address, style: 'display: block;' %>
            </p>
        </div>
    </div>
    
   <div class="form-row">
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'Entity Type' %>
            <%= f.select :entity_type, ['Government', 'Private', 'Self-Employed'] %>
            </p>
        </div>
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'Company' %>
            <%= f.collection_select :company_id, Company.order(:name), :id, :name %>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'Activity Status' %>
            <%= f.select :activity_status, ['Active', 'Inactive'], style: 'display: block;'%>
            </p>
        </div>
    </div>
    
        <div class="form-row">
          <div class="col-sm-8 col-sm-offset-2">
              <%= f.label 'Years Assessed:' %>
            <%= f.collection_check_boxes :year_ids, Year.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox mx-2") + cb.text } %>
            <% end %>
          </div>
        </div></br>

    <p>
        <%= f.submit %>
    </p>

<% end %>
