<h1> All Taxpayers </h1>


<table>
    <thead>
        <tr>
            <th>IRD Number</th>
            <th>Old IRD Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Entity Type</th>
            <th>Active Status</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @taxpayers.each do |taxpayer| %>
        <tr>
            <td> <%= taxpayer.ird_no %> </td>
            <td> <%= taxpayer.old_ird_no %></td>
            <td><%= taxpayer.first_name %></td>
            <td><%= taxpayer.middle_name %></td>
            <td><%= taxpayer.last_name %></td>
            <td><%= taxpayer.address %>s</td>
            <td><%= taxpayer.entity_type %></td>
            <td><%= taxpayer.active_status %></td>
            <td><%= link_to 'View', taxpayer_path(taxpayer) %></td>
            <td><%= link_to 'Edit', edit_taxpayer_path(taxpayer) %></td>
            <td><%= link_to 'Delete', taxpayer_path(taxpayer), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br/>
<p> <%= link_to "Add new taxpayer", new_taxpayer_path %> </p>