<h1> Taxpayer Information </h1>

<p><strong> IRD No: </strong></p> <%= @taxpayer.ird_no %>
<p><strong> Old IRD No: </strong></p> <%= @taxpayer.old_ird_no %>
<p><strong> First Name: </strong></p> <%= @taxpayer.first_name %>
<p><strong> Middle Name: </strong></p> <%= @taxpayer.middle_name %>
<p><strong> Surname: </strong></p> <%= @taxpayer.last_name %>
<p><strong> Address: </strong></p> <%= @taxpayer.address %>
<p><strong> Entity Type: </strong></p> <%= @taxpayer.entity_type %>
<p><strong> Active Status: </strong></p> <%= @taxpayer.active_status %>
<p><strong> Created At:: </strong></p> <%= @taxpayer.created_at %>
<p><strong> Updated At:: </strong></p> <%= @taxpayer.updated_at %>

<p>
<%= link_to "Edit taxpayer", edit_taxpayer_path(@taxpayer) %> |
<%= link_to "Delete taxpayer", taxpayer_path(@taxpayer), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to "Return to taxpayers listing", taxpayers_path %>
</p>