<div class="col-10">
    <%= render 'shared/errors', obj: @company %>
</div>


<%= form_with(model: @company, local: true ) do |f| %>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'IRD Number' %>
            <%= f.text_field :ird_no,  style: 'display: block;'%>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Company Name' %>
            <%= f.text_field :name,  style: 'display: block;' %>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p> 
            <%= f.label 'Address' %>
            <%= f.text_field :address, style: 'display: block;' %>
            </p>
        </div>
    </div>
    
   <div class="form-row">
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'PAYE Number' %>
            <%= f.text_field :paye_no, style: 'display block' %>
            </p>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'Entity Type' %>
            <%= f.select :entity_type, ['Government', 'Private', 'Self-Employed'] %>
            </p>
        </div>
        <div class="col-md-3 mb-3">
            <p>
            <%= f.label 'Activity Status' %>
            <%= f.select :activity_status, ['Active', 'Inactive'], style: 'display: block;'%>
            </p>
        </div>
    </div>
    
    <p>
        <%= f.submit %>
    </p>

<% end %>
