
<% @company.taxpayers.each do |company| %>
    <div class="page-break ">
        <p class = 'top-text' > <strong> <%= company.first_name + " " + company.last_name %></strong> </p>
        <div class="small-text">
           
           <p> <%= company.company.paye_no %> </p>
           <p> <%= company.company.name %> </p>
           <p> <%= company.address %> </p>
           <p> <%= company.ird_no %> </p>
        </div>
    </div>
<% end %>