<div class="container">
    <h1 class="mt-4"> All Companies </h1><br/>
    
    <% if logged_in? %>
     <div class="col-5">
      <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="badge-primary p-2 pt-4 pb-4 rounded center">
              <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>-->
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
            </span>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.count %>
            </div>
            <div class="text-muted">
              Total Companies
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.where(activity_status: 'Active').count %>
            </div>
            <div class="text-muted">
              Companies Taxpayers
            </div>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.where(activity_status: 'Inactive').count %>
            </div>
            <div class="text-muted">
              Inactive Companies
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.where(entity_type: 'Government').count %>
            </div>
            <div class="text-muted">
            Government
            </div>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.where(entity_type: 'Private').count %>
            </div>
            <div class="text-muted">
              Private
            </div>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              <%= Company.where(entity_type: 'Self-Employed').count %>
            </div>
            <div class="text-muted">
              Self-employed
            </div>
          </div>
        </div>
      </div>
    </div>
    </br></br>
      
      <%= render 'companies/search_form', obj: @q %><br/>

      <div class="flickr_pagination">
          <%= will_paginate @results, :container => false %>
      </div>
      
      <table class="table table-striped  mt-4">
        <thead>
          <tr>
              <th> <%= sort_link(@q, :ird_no, "IRD Number", default: :desc) %> </th>
              <th> <%= sort_link(@q, :paye_no, "PAYE Number", default: :desc) %> </th>
              <th><%= sort_link(@q, :name, "Company Name") %></th>
              <th>Address</th>
              <th><%= sort_link(@q, :entity_type, "Entity Type") %></th>
              <th><%= sort_link(@q, :activity_status, "Active Status") %></th>
              <th colspan="3", class="text-center">Actions</th>
          </tr>
        </thead>
          <tbody>
              <% @companies.each do |company| %>
              <tr>
                  <td> <%= company.ird_no %> </td>
                  <td> <%= company.paye_no %> </td>
                  <td><%= company.name %></td>
                  <td><%= company.address %></td>
                  <td><%= company.entity_type %></td>
                  <td><%= company.activity_status %></td>
                  <td><%= link_to "Print Stickers", company_taxpayers_path(company, format: :pdf), class:"btn btn-outline-primary btn-sm" %></td>
                  <td><%= link_to "View", company_path(company), class:"btn btn-outline-primary btn-sm" %></td>
                  <% if current_user.access_level == "Admin" or current_user.access_level =="Registrar" %>
                    <td><%= link_to 'Edit', edit_company_path(company), class:"btn btn-outline-primary btn-sm" %></td>
                  <% end %>
              </tr>
              <% end %>
          </tbody>
      </table>
      
      <div class="flickr_pagination mb-4 mt-4">
          <%= will_paginate @results, :container => false %>
      </div></br>
      
      <% if current_user.access_level == "Admin" or current_user.access_level =="Registrar" %>
        <p><b> <%= link_to "Add new company", new_company_path, class:"alert alert-light" %> </b></p>
        <% end %>
      <% else %>
      <% redirect_to_index %>
    <% end %>
</div>
</div>