<div class="container">
    <h1 class="mt-4"> Company Information</h1> Information </h1></br>

    
    
    <div class="card mt-4" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title"><%= @company.name %></h5></br>
            <h6 class="card-subtitle mb-2 text-muted">IRD Number: <%= @company.ird_no %></h6></br>
            <h6 class="card-subtitle mb-2 text-muted">Address: <%= @company.address %></h6></br>
            <h6 class="card-subtitle mb-2 text-muted">Entity Type: <%= @company.entity_type %></h6></br>
            <h6 class="card-subtitle mb-2 text-muted">Active Status: <%= @company.activity_status %></h6></br>
            
            <% if @company.taxpayers.any? %>
                <p> Company taxpayers: </p> <%= render @company.taxpayers %>
                </h6><br/><br/>
            <% end %>
            
            
            <p class="card-text">Created on: <%= @company.created_at %></p>
            <p class="card-text">Last updated on: <%= @company.updated_at %></p>
            <% if logged_in? %>
                <% if current_user.access_level == "Registrar" or current_user.access_level == "Admin" %>
                    <%= link_to 'Edit', edit_company_path(@company), class:"btn btn-outline-primary btn-sm" %>
                    <% if current_user.access_level == "Admin" %>
                        <%= link_to 'Delete', company_path(@company), class:"btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div></br>
        
    <p>
        <%= link_to "Return to companies listing", companies_path %>
    </p>
        

</div>